
.bg-dark-teal {
    background-color: #123d46;
}

.nav-hatter {
    background-color: #ffffff;
}

.sidenav {
    width: 0;
    z-index: 1050;
    padding-top: 60px;
    transition: width 0.5s;
    white-space: nowrap;
}

.sidenav a {
    font-size: 1.25rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidenav a:hover  {
    background-color: #F54927;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 1rem;
    }
}
.nevhatter{
  color: #F54927;
}
.oldalhatter{
  background-color: #ebebeb;
}
.gombhatter{
background-color: #123d46 !important;
}